asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
decorator==4.4.2
dj-static==0.0.6
Django==4.2.5
idna==3.4
imageio==2.31.4
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.0
Pillow==10.0.1
proglog==0.1.10
pyee==11.0.0
requests==2.31.0
sqlparse==0.4.4
static-ranges==0.2.0
static3==0.7.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
